In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('C:/Users/micronet computers/Desktop/Projects/Machine Learning/marital status.csv')
df.head(10)

   age  status
0   21     0.0
1   33     1.0
2   24     0.0
3   28     1.0
4   17     0.0
5   33     1.0
6   23     0.0
7   30     0.0
8   29     1.0
9   22     0.0

In [5]:
df.isnull().sum()

age       0
status    1
dtype: int64

In [11]:
df['status'] = df['status'].fillna(df['status'].median())
df.isnull().sum()

age       0
status    0
dtype: int64

In [27]:
X = df[['age']]
y = df.status
print(X.shape)
print(y.shape)

(20, 1)
(20,)

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.25, random_state=5)

In [30]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train,y_train)

LogisticRegression()

In [31]:
y_pred = logreg.predict(X_test)

In [32]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [34]:
accuracy_score(y_test,y_pred)

0.8

In [35]:
confusion_matrix(y_test,y_pred)

array([[3, 0],
       [1, 1]], dtype=int64)

In [37]:
logreg.predict_proba(X_test)

array([[0.7289264 , 0.2710736 ],
       [0.02411401, 0.97588599],
       [0.98394694, 0.01605306],
       [0.61493412, 0.38506588],
       [0.8840491 , 0.1159509 ]])