In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB

In [2]:
df = pd.read_csv('C:/Users/micronet computers/Desktop/Projects/Machine Learning/spam.csv', names=['Status','Message'], sep='\t')

In [3]:
df.head()

  Status                                            Message
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
len(df)

5572

In [5]:
df.isnull().sum()

Status     0
Message    0
dtype: int64

In [6]:
len(df[df.Status=='spam'])

747

In [7]:
len(df.Status)

5572

In [8]:
df[df.Status=='spam']

     Status                                            Message
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
5      spam  FreeMsg Hey there darling it's been 3 week's n...
8      spam  WINNER!! As a valued network customer you have...
9      spam  Had your mobile 11 months or more? U R entitle...
11     spam  SIX chances to win CASH! From 100 to 20,000 po...
...     ...                                                ...
5537   spam  Want explicit SEX in 30 secs? Ring 02073162414...
5540   spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547   spam  Had your contract mobile 11 Mnths? Latest Moto...
5566   spam  REMINDER FROM O2: To get 2.50 pounds free call...
5567   spam  This is the 2nd time we have tried 2 contact u...

[747 rows x 2 columns]

In [9]:
df.Status=='spam'

0       False
1       False
2        True
3       False
4       False
        ...
5567     True
5568    False
5569    False
5570    False
5571    False
Name: Status, Length: 5572, dtype: bool

In [10]:
len(df.Status=='spam')

5572

In [11]:
df.loc[df['Status']=='ham', 'Status'] = 1
df

     Status                                            Message
0         1  Go until jurong point, crazy.. Available only ...
1         1                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         1  U dun say so early hor... U c already then say...
4         1  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568      1               Will Ã¼ b going to esplanade fr home?
5569      1  Pity, * was in mood for that. So...any other s...
5570      1  The guy did some bitching but I acted like i'd...
5571      1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [12]:
df.loc[df['Status']=='spam', 'Status'] = 0
df

     Status                                            Message
0         1  Go until jurong point, crazy.. Available only ...
1         1                      Ok lar... Joking wif u oni...
2         0  Free entry in 2 a wkly comp to win FA Cup fina...
3         1  U dun say so early hor... U c already then say...
4         1  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567      0  This is the 2nd time we have tried 2 contact u...
5568      1               Will Ã¼ b going to esplanade fr home?
5569      1  Pity, * was in mood for that. So...any other s...
5570      1  The guy did some bitching but I acted like i'd...
5571      1                         Rofl. Its true to its name

[5572 rows x 2 columns]

###  Now define the feature columns and the target columns

In [13]:
X = df['Message']
X.shape

(5572,)

In [14]:
y = df['Status']
y.shape

(5572,)

In [15]:
cv = TfidfVectorizer(min_df = 1, stop_words='english')

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.4, random_state=100)

In [17]:
X_traincv = cv.fit_transform(X_train)
cv.get_feature_names()

['00',
 '000',
 '0089',
 '0121',
 '01223585236',
 '02',
 '0207',
 '02072069400',
 '02073162414',
 '021',
 '03',
 '04',
 '0430',
 '05',
 '050703',
 '0578',
 '06',
 '07008009200',
 '07090201529',
 '07090298926',
 '07123456789',
 '0721072',
 '07734396839',
 '07742676969',
 '0776xxxxxxx',
 '07781482378',
 '07786200117',
 '078',
 '07808247860',
 '07808726822',
 '07821230901',
 '07880867867',
 '0789xxxxxxx',
 '07946746291',
 '0796xxxxxx',
 '07973788240',
 '07xxxxxxxxx',
 '08',
 '0800',
 '08000407165',
 '08000776320',
 '08000839402',
 '08000930705',
 '08000938767',
 '08001950382',
 '08002888812',
 '08002986906',
 '08002988890',
 '08006344447',
 '0808',
 '08081560665',
 '08448350055',
 '0845',
 '08450542832',
 '08452810071',
 '08452810073',
 '08452810075over18',
 '0870',
 '08700621170150p',
 '08701213186',
 '08701237397',
 '08701417012',
 '08701417012150p',
 '08701752560',
 '08702490080',
 '08702840625',
 '08704439680',
 '08704439680ts',
 '08706091795',
 '0870737910216yrs',
 '08707500020',
 '08707509020',
 '08707808226',
 '08708034412',
 '08708800282',
 '08709222922',
 '08709501522',
 '0871',
 '08712101358',
 '08712103738',
 '0871212025016',
 '08712300220',
 '087123002209am',
 '08712317606',
 '08712400200',
 '08712400602450p',
 '08712400603',
 '08712402050',
 '08712402902',
 '08712402972',
 '08712404000',
 '08712405020',
 '08712460324',
 '08712466669',
 '087147123779am',
 '08714712379',
 '08714712388',
 '08714712412',
 '08715203028',
 '08715203649',
 '08715203652',
 '08715203685',
 '08715203694',
 '08715205273',
 '08715500022',
 '08717111821',
 '08717168528',
 '08717205546',
 '0871750',
 '08717507382',
 '08717898035',
 '08718711108',
 '08718720201',
 '08718723815',
 '08718725756',
 '08718726270',
 '087187262701',
 '08718726970',
 '08718726978',
 '08718727868',
 '08718727870',
 '08718727870150ppm',
 '08718730666',
 '08718738001',
 '08718738002',
 '08719180248',
 '08719181259',
 '08719181503',
 '08719181513',
 '08719839835',
 '08719899229',
 '09',
 '09041940223',
 '09050000555',
 '09050000878',
 '09050001808',
 '09050002311',
 '09050003091',
 '09050090044',
 '09053750005',
 '09056242159',
 '09057039994',
 '09058091854',
 '09058094454',
 '09058094455',
 '09058094507',
 '09058094565',
 '09058094583',
 '09058094594',
 '09058094597',
 '09058094599',
 '09058095201',
 '09058097189',
 '09058097218',
 '09061104276',
 '09061104283',
 '09061209465',
 '09061213237',
 '09061221061',
 '09061221066',
 '09061701851',
 '09061702893',
 '09061743806',
 '09061743811',
 '09061744553',
 '09061790121',
 '09061790125',
 '09061790126',
 '09063440451',
 '09063442151',
 '09063458130',
 '0906346330',
 '09064012103',
 '09064017295',
 '09064017305',
 '09064018838',
 '09064019014',
 '09064019788',
 '09065171142',
 '09065174042',
 '09065394514',
 '09065989180',
 '09065989182',
 '09066358152',
 '09066358361',
 '09066361921',
 '09066362231',
 '09066364311',
 '09066364349',
 '09066364589',
 '09066368327',
 '09066368470',
 '09066380611',
 '09066382422',
 '09066612661',
 '09066649731from',
 '09071512432',
 '09071512433',
 '09071517866',
 '09094646899',
 '09095350301',
 '09096102316',
 '09099725823',
 '09099726429',
 '09099726553',
 '09111032124',
 '09701213186',
 '10',
 '100',
 '1000',
 '1000call',
 '1000s',
 '100p',
 '100percent',
 '100txt',
 '10am',
 '10k',
 '10p',
 '10ppm',
 '10th',
 '11',
 '113',
 '114',
 '116',
 '1172',
 '118p',
 '11mths',
 '11pm',
 '12',
 '121',
 '1225',
 '123',
 '125',
 '1250',
 '125gift',
 '12hours',
 '12hrs',
 '12mths',
 '13',
 '1327',
 '139',
 '14',
 '140ppm',
 '145',
 '1450',
 '146tf150p',
 '14tcr',
 '14thmarch',
 '15',
 '150',
 '1500',
 '150p',
 '150p16',
 '150pm',
 '150ppm',
 '150ppmpobox10183bhamb64xe',
 '150ppmsg',
 '151',
 '153',
 '15541',
 '15pm',
 '16',
 '165',
 '177',
 '18',
 '18p',
 '18yrs',
 '195',
 '1956669',
 '1b6a5ecef91ff9',
 '1da',
 '1hr',
 '1im',
 '1mega',
 '1st',
 '1stchoice',
 '1stone',
 '1thing',
 '1win150ppmx3',
 '1winawk',
 '20',
 '200',
 '2000',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '200p',
 '2025050',
 '20p',
 '21',
 '21870000',
 '21st',
 '22',
 '220',
 '220cm2',
 '24hrs',
 '24m',
 '25',
 '250',
 '250k',
 '25p',
 '26',
 '2667',
 '26th',
 '27',
 '28',
 '28days',
 '28th',
 '29',
 '2b',
 '2channel',
 '2day',
 '2docd',
 '2ez',
 '2find',
 '2geva',
 '2go',
 '2hrs',
 '2i',
 '2lands',
 '2marrow',
 '2moro',
 '2morow',
 '2morrow',
 '2mro',
 '2mrw',
 '2mwen',
 '2nd',
 '2nite',
 '2optout',
 '2p',
 '2price',
 '2px',
 '2rcv',
 '2stoptx',
 '2stoptxt',
 '2u',
 '2u2',
 '2waxsto',
 '2wks',
 '2wt',
 '2wu',
 '2years',
 '2yr',
 '30',
 '300',
 '3000',
 '300603',
 '300603t',
 '300p',
 '3030',
 '30pm',
 '30pp',
 '30th',
 '31',
 '3100',
 '310303',
 '32',
 '32000',
 '326',
 '33',
 '350',
 '3510i',
 '3650',
 '36504',
 '3680',
 '373',
 '3750',
 '37819',
 '382',
 '391784',
 '3aj',
 '3d',
 '3days',
 '3g',
 '3gbp',
 '3hrs',
 '3lp',
 '3miles',
 '3mins',
 '3optical',
 '3qxj9',
 '3rd',
 '3xx',
 '40',
 '400',
 '400mins',
 '400thousad',
 '402',
 '4041',
 '40411',
 '40533',
 '40gb',
 '420',
 '4217',
 '42810',
 '430',
 '434',
 '44',
 '440',
 '4403ldnw1a7rw18',
 '44345',
 '447797706009',
 '447801259231',
 '448712404000',
 '449071512431',
 '45',
 '450',
 '450p',
 '450ppw',
 '450pw',
 '45239',
 '47',
 '4719',
 '4742',
 '47per',
 '48',
 '4882',
 '48922',
 '49',
 '49557',
 '4a',
 '4brekkie',
 '4d',
 '4few',
 '4fil',
 '4get',
 '4got',
 '4goten',
 '4info',
 '4jx',
 '4msgs',
 '4mths',
 '4my',
 '4qf2',
 '4t',
 '4th',
 '4the',
 '4thnov',
 '4u',
 '4utxt',
 '4w',
 '4wrd',
 '4xx26',
 '50',
 '500',
 '5000',
 '505060',
 '50award',
 '50ea',
 '50gbp',
 '50p',
 '50perweeksub',
 '50pm',
 '50pmmorefrommobile2bremoved',
 '50s',
 '523',
 '5249',
 '526',
 '530',
 '54',
 '542',
 '5digital',
 '5free',
 '5ish',
 '5min',
 '5p',
 '5pm',
 '5th',
 '5wb',
 '5we',
 '5wkg',
 '5years',
 '60',
 '600',
 '60p',
 '61',
 '61610',
 '6230',
 '62468',
 '62735',
 '630',
 '645',
 '65',
 '650',
 '66',
 '6669',
 '674',
 '67441233',
 '69101',
 '69669',
 '69696',
 '69698',
 '69855',
 '69866',
 '69911',
 '6days',
 '6hl',
 '6hrs',
 '6ish',
 '6missed',
 '6months',
 '6ph',
 '6pm',
 '6th',
 '6wu',
 '6zf',
 '700',
 '7250',
 '7250i',
 '730',
 '731',
 '75',
 '750',
 '7548',
 '75max',
 '762',
 '77',
 '7732584351',
 '78',
 '786',
 '79',
 '7am',
 '7cfca1a',
 '7ish',
 '7pm',
 '7th',
 '7ws',
 '7zs',
 '800',
 '8000930705',
 '80062',
 '8007',
 '80082',
 '80086',
 '80155',
 '80160',
 '80182',
 '80488',
 '8077',
 '81010',
 '81151',
 '81303',
 '81618',
 '82050',
 '820554ad0a1705572711',
 '82242',
 '82277',
 '82324',
 '82468',
 '83021',
 '83039',
 '83110',
 '83222',
 '83338',
 '83355',
 '83383',
 '83435',
 '83600',
 '83738',
 '84025',
 '84122',
 '84128',
 '84199',
 '84484',
 '850',
 '85023',
 '85069',
 '85555',
 '86021',
 '864233',
 '86688',
 '86888',
 '87021',
 '87066',
 '87070',
 '87077',
 '87121',
 '87131',
 '872',
 '87239',
 '87575',
 '88039',
 '88066',
 '88088',
 '88222',
 '88800',
 '8883',
 '88888',
 '89034',
 '89123',
 '89545',
 '89555',
 '89693',
 '89938',
 '8am',
 '8ball',
 '8p',
 '8th',
 '8wp',
 '900',
 '9153',
 '92h',
 '930',
 '9307622',
 '946',
 '95',
 '9758',
 '98321561',
 '99',
 '9996',
 '9ae',
 '9am',
 '9ja',
 '9pm',
 '9t',
 '9th',
 '9yt',
 '____',
 'a30',
 'aa',
 'aah',
 'aaooooright',
 'aathi',
 'ab',
 'abbey',
 'abdomen',
 'abi',
 'ability',
 'abiola',
 'abj',
 'able',
 'abnormally',
 'aboutas',
 'abroad',
 'absolutly',
 'abstract',
 'abt',
 'abta',
 'abusers',
 'ac',
 'academic',
 'acc',
 'accenture',
 'accept',
 'access',
 'accessible',
 'accidant',
 'accident',
 'accidentally',
 'accommodationvouchers',
 'accomodate',
 'accordin',
 'accordingly',
 'account',
 'accumulation',
 'achan',
 'ache',
 'achieve',
 'acl03530150pm',
 'acnt',
 'aco',
 'acted',
 'acting',
 'action',
 'activ8',
 'activate',
 'active',
 'activities',
 'actor',
 'actual',
 'actually',
 'ad',
 'adam',
 'add',
 'addamsfa',
 'added',
 'addie',
 'address',
 'adewale',
 'adjustable',
 'administrator',
 'admirer',
 'admission',
 'admit',
 'adore',
 'adoring',
 'adress',
 'adrian',
 'ads',
 'adult',
 'adults',
 'advance',
 'adventure',
 'adventuring',
 'advice',
 'advise',
 'advisors',
 'aeronautics',
 'aeroplane',
 'affair',
 'affairs',
 'affection',
 'affectionate',
 'affections',
 'afford',
 'afraid',
 'africa',
 'aft',
 'afternon',
 'afternoon',
 'aftr',
 'ag',
 'age',
 'age16',
 'age23',
 'agent',
 'agents',
 'ages',
 'ago',
 'agree',
 'ah',
 'aha',
 'ahead',
 'ahmad',
 'ahold',
 'aids',
 'aight',
 'aint',
 'air',
 'airport',
 'airtel',
 'aiya',
 'aiyah',
 'aiyar',
 'aiyo',
 'ajith',
 'aka',
 'akon',
 'al',
 'alaikkum',
 'alaipayuthe',
 'album',
 'alcohol',
 'aldrine',
 'alert',
 'aletter',
 'alex',
 'alfie',
 'ali',
 'alive',
 'allah',
 'allalo',
 'allday',
 'alle',
 'allo',
 'allow',
 'allowed',
 'allows',
 'alot',
 'alright',
 'alrite',
 'alternative',
 'alto18',
 'alwa',
 'alwys',
 'amanda',
 'amazing',
 'ambrith',
 'american',
 'ami',
 'amigos',
 'amla',
 'amma',
 'amnow',
 'amp',
 'amplikater',
 'amrca',
 'amrita',
 'ams',
 'amt',
 'amused',
 'amy',
 'anal',
 'anand',
 'andre',
 'andrews',
 'andros',
 'angry',
 'animal',
 'animation',
 'anna',
 'annie',
 'anniversary',
 'announced',
 'announcement',
 'annoyin',
 'annoying',
 'anot',
 'ans',
 'ansr',
 'answer',
 'answered',
 'answering',
 'answers',
 'answr',
 'antelope',
 'anthony',
 'antibiotic',
 'anybody',
 'anymore',
 'anyones',
 'anythiing',
 'anythin',
 'anytime',
 'anyways',
 'apart',
 'apartment',
 'apes',
 'apeshit',
 'apnt',
 'apo',
 'apologise',
 'apology',
 'app',
 'apparently',
 'appear',
 'appendix',
 'applebees',
 'apples',
 'application',
 'apply',
 'applyed',
 'appointment',
 'appointments',
 'appreciate',
 'approve',
 'approx',
 'apps',
 'appt',
 'appy',
 'aptitude',
 'aquarius',
 'ar',
 'arabian',
 'arcade',
 'ard',
 'area',
 'aren',
 'arent',
 'areyouunique',
 'argentina',
 'argh',
 'argue',
 'arguing',
 'argument',
 'arguments',
 'aries',
 'arise',
 'arises',
 'arm',
 'armand',
 'armenia',
 'arms',
 'arng',
 'arngd',
 'arnt',
 'aroundn',
 'arr',
 'arrange',
 'arranging',
 'arrested',
 'arrival',
 'arrive',
 'arsenal',
 'art',
 'artists',
 'arty',
 'arun',
 'asa',
 'asap',
 'ashes',
 'ashley',
 'ashwini',
 'asian',
 'asjesus',
 'ask',
 'askd',
 'asked',
 'askin',
 'asking',
 'asks',
 'asleep',
 'asp',
 'ass',
 'assistance',
 'asssssholeeee',
 'assume',
 'assumed',
 'asthere',
 'asthma',
 'astne',
 'astrology',
 'astronomer',
 'ate',
 'athome',
 'atlanta',
 'atlast',
 'atm',
 'atrocious',
 'attach',
 'attached',
 'attack',
 'attempt',
 'atten',
 'attend',
 'attended',
 'attention',
 'attitude',
 'attraction',
 'attractive',
 'auction',
 'audiitions',
 'audrey',
 'audrie',
 'august',
 'auntie',
 'aunts',
 'aunty',
 'aust',
 'australia',
 'authorise',
 'auto',
 'autocorrect',
 'av',
 'availa',
 'available',
 'avalarr',
 'avatar',
 'avble',
 'ave',
 'avenge',
 'avent',
 'avin',
 'avoiding',
 'await',
 'awaiting',
 'awake',
 'award',
 'awarded',
 'away',
 'awesome',
 'aww',
 'ax',
 'axel',
 'ay',
 'ayn',
 'b4',
 'b4280703',
 'b4u',
 'b4utele',
 'ba',
 'ba128nnfwfly150ppm',
 'baaaaaaaabe',
 'baaaaabe',
 'babe',
 'babes',
 'babies',
 'baby',
 'babygoodbye',
 'babyjontet',
 'babysit',
 'bac',
 'bad',
 'badass',
 'badrith',
 'bag',
 'bags',
 'bahamas',
 'baig',
 'bak',
 'bakra',
 'balance',
 'balloon',
 'balls',
 'bambling',
 'band',
 'bandages',
 'bang',
 'bangb',
 'bangbabes',
 'bank',
 'banks',
 'banned',
 'banneduk',
 'banter',
 'bao',
 'bar',
 ...]

In [84]:
a = X_traincv.toarray()
a

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [74]:
len(a[0])

6549

In [85]:
cv.inverse_transform(a[0])

[array(['ga', 'goodmorning', 'sleeping'], dtype='<U34')]

In [86]:
X_train.iloc[0]

'Goodmorning sleeping ga.'

In [18]:
mnb = MultinomialNB()

In [19]:
y_train = y_train.astype('int')
type(y_train)

pandas.core.series.Series

In [20]:
mnb.fit(X_traincv, y_train)

MultinomialNB()

In [24]:
X_testcv = cv.fit_transform(X_test)
X_testcv.shape

(2229, 5067)

In [23]:
mnb.predict(X_testcv)

ValueError: Expected 2D array, got 1D array instead:
array=[<2229x5067 sparse matrix of type '<class 'numpy.float64'>'
	with 17588 stored elements in Compressed Sparse Row format>].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.